<form action="/cadastro_de_autor" method="POST">
    <p>Autor: </p>
    <input type="text" name="name">

    <p>Email: </p>
    <input type="email" name="email">

    <button type="submit">Cadastrar Autor</button>
</form>